# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/

# --- Virtual Environments ---
venv/
env/
.venv/

# --- IDE Settings ---
.vscode/
.idea/

# --- Environment variables / secrets ---
.env
*.env

# --- Singular Files ---
Git_Commands.md